<h1 class="current-category"><%= params[:category] %></h1>

<% if @events.count == 0 %>

  <h1>There are no books currently in this category</h1>

<% else %>

  <% @events.each do |event| %>
    <h2><%= link_to event.title, event_path(event) %></h2>
  <% end %>
  
<% end %>
