<h1 class="current-category"><%= params[:category] %></h1>

<% if @events.count == 0 %>

  <h1>There are no events currently in this category</h1>

<% else %>

<div class="row">
 	    <!-- Search bar -->
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search events">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

    <br />
    <br />


  <% @events.each do |event| %>
    <div class="col-md-4">
       <a href="/events/<%= event.id %>">
    	   <%= image_tag event.event_img.url(:event_index), class:"event" %>
       </a>
    </div>
  <% end %>

</div>
  
<% end %>
