<h1 class="current-category"><%= params[:category] %></h1>

<% if @events.count == 0 %>

  <h1>There are no events currently in this category</h1>

<% else %>

 <div class="row">

  <% @events.each do |event| %>
    <div class="col-md-4">
       <a href="/events/<%= event.id %>">
    	   <%= image_tag event.event_img.url(:event_index), class:"event" %>
       </a>
    </div>
  <% end %>

</div>
  
<% end %>
